<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{postagem.midia}}" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{postagem.titulo}}</h5>
                                    <p class="card-text">{{postagem.texto}}</p>
                                    <p class="card-text"><small class="text-muted">Data: {{postagem.data | date:
                                            'dd/MM/yyyy'}} - {{postagem.data | date: 'HH:mm'}}</small></p>
                                            <div class="botoes">

                                                <button (click)='apagar()' class= "btn btn-danger mr-3"><i class="fa fa-trash mr-2"></i>Apagar</button>
                                                <button routerLink="/inicio" class= "btn btn-info"><i class="fa fa-times mr-2"></i>Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>