<footer class="page=foot font-small bg-light pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Acompanhe as nossas redes sociais.</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/rooantunesss" target="_blank"
                    class="iconFacebook">
                    <i class="fab fa-facebook"></i>
                </a>

                </li>

                <li>
                    <a href="https://www.instagram.com/antunessroo/" target="_blank"
                    class="iconInstagram">
                    <i class="fab fa-instagram">
                        
                    </i>
                </a>
                
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/antunes-rodrigo/" target="_blank"
                    class="iconLinkedin">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                
                </li>

                <li>
                    <a href="https://github.com/WhiteMajisk" target="_blank"
                    class="iconGitHub">
                    <i class="fab fa-github"></i>
                </a>
                
                </li>
            </ul>

            
        </div>
    </div>

    <div class= "footer-copyright bg dark text-center py-3">
        <span class="text-dark"> Rodrigo Antunes - 2022 &copy;</span>

    </div>
</footer>