ul.social-network{

    list-style: none;
    padding: 0%;
}

ul.social-network li{

    display: inline;
    margin: 0%;
    padding: 7px;
}

.fab{

    font-size: 40pt;
    color: black;
    padding: 10px;
}

.fa-facebook:hover{

    color: #3b5998;
}

.fa-instagram:hover{

    background: -moz-linear-gradient(top, rgba(131,58,180,1),rgba(253,29,29,0.7595413165266106),rgba(252,176,69,1));
    background: -webkit-linear-gradient(top, rgba(131,58,180,1),rgba(253,29,29,0.7595413165266106),rgba(252,176,69,1));
    background: linear-gradient(to bottom, rgba(131,58,180,1),rgba(253,29,29,0.7595413165266106),rgba(252,176,69,1));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-linkedin-in:hover{

    color: #0E76A8;
}

.fa-github:hover{

    color: grey;
}
